<h1>Cat breeds</h1>
<table>
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody id="breedsTable">
    </tbody>
</table>

<div id="breedImageModal" class="modal">
    <div class="modal-content">
        <h4 id="breedImageModalTitle"></h4>
        <img src="#" id="breedImageModalImage"/>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
